<template>
  <v-container class="mt-5">
    <v-row align="center" justify="center" class="text-center">
      <v-col md="10">
        <v-card
          class="px-10 pb-5 pt-8 mt-5"
          outlined
          shaped
          elevation="5"
          tile
          style="background-color:#F7F7F7"
        >
        <v-row>
          <v-col md="5">
            <v-form
              ref="form"
            >
              <v-select
                :items="cp"
                v-model="filter.cp"
                solo
                class="mt-0"
                label="Chest Pain"
              ></v-select>
              <v-text-field
                v-model="filter.thalach"
                solo
                type="number"
                class="mt-0"
                label="Max Heart Rate"
              ></v-text-field>
              <v-select
                :items="exang"
                v-model="filter.exang"
                solo
                class="mt-0"
                label="Exercise induced angina"
              ></v-select>
              <v-text-field
                v-model="filter.oldpeak"
                solo
                type="number"
                class="mt-0"
                label="ST depression"
              ></v-text-field>
              <v-text-field
                v-model="filter.ca"
                solo
                type="number"
                max="3"
                min="0"
                class="mt-0"
                label="Major Vessels"
              ></v-text-field>
              <v-select
                :items="thal"
                v-model="filter.thal"
                solo
                class="mt-0"
                label="Thalassemia type"
              ></v-select>

              <v-btn
                color="success"
                class="mr-4 mb-5 w-full"
                large
                @click="doSomething"
                block
              >
                Submit
              </v-btn>

            </v-form>
          </v-col>
          <v-col md="7" style="text-align: -webkit-center;align-self: center;">
            <v-img :src="image" max-height="400px" max-width="400px">
            </v-img>
            {{text}}
          </v-col>
        </v-row>
        </v-card>
      </v-col>

    </v-row>
  </v-container>
</template>

<script>
  import axios from 'axios'

  export default {
    name: 'HelloWorld',

    data: () => ({
      filter: {
        // 'thal', 'ca', 'oldpeak', 'thalach', 'exang', 'cp'
        thal: '',
        ca: '',
        oldpeak: '',
        thalach: '',
        exang: '',
        cp: '',
      },
      result: '',
      text: '',
      color: 'indigo',
      image: '/doc.png',
      thal: [
        {text: 'Normal', value: 0},
        {text: 'Fixed Defect', value: 1},
        {text: 'Reversable Defect', value: 2},
      ],
      exang: [
        {text: 'Yes', value: 1},
        {text: 'No', value: 0},
      ],
      cp: [
        {text: 'Typical Angina', value: 0},
        {text: 'Atypical Angina', value: 1},
        {text: 'Non-Anginal Pain', value: 2},
        {text: 'Asymptomatic', value: 3},
      ],
    }),
    methods: {
      doSomething() {
        this.result = ''
        this.text = ''
        this.color = 'indigo'
        let config = {
          headers: {
            "Access-Control-Allow-Origin": "*",
          }
        }
        let data = [{
          "thal": parseInt(this.filter.thal, 10),
          "ca": parseInt(this.filter.ca, 10),
          "oldpeak": parseInt(this.filter.oldpeak, 10),
          "thalach": parseInt(this.filter.thalach, 10), 
          "exang": parseInt(this.filter.exang, 10), 
          "cp": parseInt(this.filter.cp, 10)
        }]
        axios.post('http://localhost:5000/', data, config)
        .then(response => {
          if(response.data){
            let data = response.data
            this.result = data.output[0]
            if (this.result == 0) {
              this.text = "Result = No Disease"
              this.color = "green"
              this.image = "/happy.png"
            }else {
              this.text = "Has Heart Disease"
              this.color = "red"
              this.image = "/unhappy.png"
            }
          }
        })
        .catch(error => {
          console.log(error);
        });

      },
    }
  }
</script>
